extends base.pug


block title 
    title Carreras
    link(rel="stylesheet", href="bootstrap/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../js/carreras.js") 
    script.
        var data = !{JSON.stringify(data)};
block container
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container-fluid
                a.navbar-brand(href='/') Tarea1_LenerQ
                .navbar-nav.justify-content-center
                    a.nav-link(href='/') Alumno
                    a.nav-link.active(aria-current='page' href='/carreras') Carrera
    .container
        .row
            .col.mt-3
            p
                a.btn.btn-outline-success(href="/carrera/?accion=nuevo") Nueva Carrera
            .table-responsive
                table.table.table-hover.align-middle
                    thead 
                        tr
                            th(scope='col') C贸digo
                            th(scope='col') Nombre
                            th(scope='col') Duraci贸n
                            th(scope='col') M贸dulos
                            th(scope='col') Formato
                            th(scope='col') Acci贸n
                    tbody#data-carreras
                    



